<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    <title>Check States</title>
</head>

<body>

    <header>
        <h1>Optimal 2x2x2 Cube</h1>
    </header>

    <div class="container">
        <form action="/search" method="POST">
            <div class="form-group">
                <div>
                    <h3>Including:</h3>
                    <label><input type="checkbox" name="tables_include" value="CLL"> CLL</label><br>
                    <label><input type="checkbox" name="tables_include" value="EG1"> EG1</label><br>
                    <label><input type="checkbox" name="tables_include" value="EG2"> EG2</label><br>
                    <label><input type="checkbox" name="tables_include" value="TCLL"> TCLL</label><br>
                    <label><input type="checkbox" name="tables_include" value="TEG1"> TEG1</label><br>
                    <label><input type="checkbox" name="tables_include" value="TEG2"> TEG2</label><br>
                    <label><input type="checkbox" name="tables_include" value="LS"> LS</label><br>
                    <label><input type="checkbox" name="tables_include" value="LSEG1"> LSEG1</label><br>
                    <label><input type="checkbox" name="tables_include" value="LSEG2"> LSEG2</label><br>
                    <label><input type="checkbox" name="tables_include" value="CBL"> CBL</label><br>
                </div>
                <div>
                    <h3>Excluding:</h3>
                    <label><input type="checkbox" name="tables_exclude" value="CLL"> CLL</label><br>
                    <label><input type="checkbox" name="tables_exclude" value="EG1"> EG1</label><br>
                    <label><input type="checkbox" name="tables_exclude" value="EG2"> EG2</label><br>
                    <label><input type="checkbox" name="tables_exclude" value="TCLL"> TCLL</label><br>
                    <label><input type="checkbox" name="tables_exclude" value="TEG1"> TEG1</label><br>
                    <label><input type="checkbox" name="tables_exclude" value="TEG2"> TEG2</label><br>
                    <label><input type="checkbox" name="tables_exclude" value="LS"> LS</label><br>
                    <label><input type="checkbox" name="tables_exclude" value="LSEG1"> LSEG1</label><br>
                    <label><input type="checkbox" name="tables_exclude" value="LSEG2"> LSEG2</label><br>
                    <label><input type="checkbox" name="tables_exclude" value="CBL"> CBL</label><br>
                </div>
            </div>
            <input type="submit" value="Submit query">
        </form>
    </div>

    <footer style="background-color: #f4f4f9; text-align: center; padding: 10px; margin-top: 20px; color: #666;">
        <p>Developed by <a href="https://www.worldcubeassociation.org/persons/2015SALO01" target="_blank">Álvaro Aguilar Salobreña</a> and <a href="https://www.worldcubeassociation.org/persons/2016GALA04" target="_blank">Andrés Rodríguez Galán</a></p>
    </footer>

</body>
</html>
